* {
  margin: 0px;
  padding: 0px;
  font-family: Georgia;
  box-sizing:border-box;
}

body {
  background: gray;
  color: white;
  padding: 25px;
}

.header {
  text-align:center;
  text-shadow:3px 3px 10px black;
  font-size:50px;
  font-weight:bold;
  letter-spacing: 10px;
  color:skyblue;
  border-top:solid 1px black;
  border-bottom:solid 1px black;
  padding-bottom:40px;
}

.navbar ul {
  margin: 0 auto;
  position:relative;
  bottom:40px;
  list-style-type: none;
  opacity:.5;
  text-align:center;
  padding:5px;
  width:300px;
  border-radius:5px;
  border:solid 1px black;
  background-color:skyblue;
}

.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  color:black;
  text-align:center;
  padding:5px;
  margin: 5px;
  text-decoration: none;
}

.navbar li a:hover {
  color:skyblue;
  background-color:black;
  border-bottom:solid 1px skyblue;
  border-top:solid 1px skyblue;
}

.navbar .active {
  background-color:skyblue;
  color:black;
  font-weight:bold;
}
